---

- name: openvpn restart
  service: name={{openvpn_service}} state=restarted

- name: openvpn pack clients
  shell: cd {{openvpn_keydir}} && zip -j {{item.item}}.zip {{item.item}}.crt {{item.item}}.key {{item.item}}.ovpn ca.crt {{openvpn_tls_key if openvpn_tls_auth else ''}}
  when: item.changed
  with_items: "{{openvpn_clients_changed.results}}"
