<LDAP>
  # LDAP server URL
  URL   ldap://{{ openvpn_ldap_server }}

  # Bind DN (If your LDAP server doesn't support anonymous binds)
  # e.g. cn=administrator,cn=users,dc=ctc,dc=local
  BindDN    {{ openvpn_ldap_bind_dn }}

  # Bind Password
  Password  {{ openvpn_ldap_bind_password }}

  # Network timeout (in seconds)
  Timeout   15

  # Enable Start TLS
  TLSEnable {{ openvpn_ldap_tlsenable }}

  # Follow LDAP Referrals (anonymously)
  FollowReferrals {{ openvpn_ldap_follow_referrals }}

  # TLS CA Certificate File
  TLSCACertFile {{ openvpn_ldap_tls_cacert }}

  # TLS CA Certificate Directory
  TLSCACertDir  /etc/ssl/certs

  {% if openvpn_ldap_tls_use_clientcert != 'no' -%}
  # Client Certificate and key
  # If TLS client authentication is required
  TLSCertFile {{ openvpn_ldap_tls_clientcert }}
  TLSKeyFile  {{ openvpn_ldap_tls_clientkey }}{% endif -%}

  # Cipher Suite
  # The defaults are usually fine here
  # TLSCipherSuite  ALL:!ADH:@STRENGTH
</LDAP>

<Authorization>
  # e.g. "dc=ctc,dc=local"
  BaseDN    {{ openvpn_ldap_base_dn }}
  # e.g. "sAMAccountName=%u"
  SearchFilter  {{ openvpn_ldap_search_filter }}
  RequireGroup  true
  <Group>
    BaseDN    {{ openvpn_ldap_base_dn }}
    # e.g. "cn=OpenVPNUsers"
    SearchFilter  {{ openvpn_ldap_group_search_filter }}
    MemberAttribute Member
  </Group>
</Authorization>
