#
# {{ key_bits }} bit OpenVPN static key
#
-----BEGIN OpenVPN Static key V1-----
{% set rand_data = lookup('pipe', 'openssl rand -hex {}'.format(key_bits // 8)) %}
{% for i in range(0, rand_data|length, 32) %}
{{ rand_data[i:i+32] }}
{% endfor %}
-----END OpenVPN Static key V1-----
