#
# {{ key_bits }} bit OpenVPN static key
#
-----BEGIN OpenVPN Static key V1-----
{% set rand_data = lookup('pipe', 'openssl rand -hex {}'.format(key_bits // 8)) %}
{% for i in range(key_bits // 128) %}
{{ rand_data[i:i+16] }}
{% endfor %}
-----END OpenVPN Static key V1-----
